.pdp{
    display: flex;
    padding: 15px;
}
.mprice{
    color: grey;
}
.cprice{
    color: green
}
.product-photo{
    
    width: 410px;
    margin: 80px 0px 60px 150px;
}
.div2-pdp{
    margin: 80px 0px 60px 150px
}
.bg-salmon{
    background-color: salmon;
    color: white;
}
.div2-main{
    display: flex;
}
.reviews{
    font-weight: 300;
    margin: 47px 0px 0px 60px;
    font-family: initial;
}
.div2-2-pdp{
   width: fit-content;
    background-color: green;
    color: white;
    border-radius: 20px;
    padding: 5px;
    margin: 40px 0px 0px 0px;
}
.rating{
    width: 24px;
    margin: 0px 0px 8px 0px;
}
.rating-div{
    display: flex;
}
.star{
  border:none;
  background-color: unset;
  color:goldenrod;
  font-size: 3rem;
}
.div2-5-pdp{
    display: flex;
}
.label-pdp{
    margin-top: 5px;
}
.input-pdp{
    margin-left: 10px;
}
.msg{
    margin-top: 20px;
    color: black;
    
}
.assurance{
    width: 22px;
    margin-top: -3px;
    margin-left: 30px;
    
}
.text-assurance{
    color: #00811f;
}
.rating-div{
        width: 180px;
    margin: 0px 5px 0px 10px;

}
.rating{
    margin-bottom: 4px;
}